body {
	padding:0;
	margin:0;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
}
canvas {
    padding:0;
    margin:0;
}
div.btnbg {
    position:absolute;
    left:50%;
    top:50%;
	transform: translate(-50%, -50%);
	
	max-width: 600px;
	margin: 0 auto;
	padding: 20px 10px;
	height: 400px;
	text-align: center;
}
	
.ins{
  color: white;
	font-size: 1.2em;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.5);
} 




h1{
	color: white;
		font-size: 2.6em;
		transition-duration: 1s;
		transition-timing-function: ease-in-put;
		font-weight: 200;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
}


form{
	padding: 20px 0;
	position: relative;
	z-index: 2;
}
input[type="text"], input[type="password"] {
	  
	 -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.25);
	
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  transition-duration: 0.25s;
  font-weight: 300;
}		
input[type="text"]:hover, input[type="password"]:hover{
			background-color: rgba(255, 255, 255, 0.5);
		}
		
input[type="text"]:focus, input[type="password"]:focus{
			background-color: white;
			color: #53e3a6;
}	
button{
		appearance: none;
		outline: 0;
		background-color: white;
		border: 0;
		padding: 10px 15px;
		color: @prim;
		border-radius: 3px;
		width: 250px;
		cursor: pointer;
		font-size: 22px;
		transition-duration: 0.25s;
	color: white;
	background-color: rgb(82, 157, 226);
	border: teal;
	width: 100%;
	height: 60px;
}

button:hover{
			background-color: rgb(62, 127, 206);
}




h1 {
  -webkit-transform: rotate(0deg) translateY(-50%) scale(1);
  transform: rotate(0deg) translateY(-50%) scale(1);
  -webkit-transform-origin: center 0;
  transform-origin: center 0;
	font-size: 2em;
}

h1 {
  top: 50%;
  letter-spacing: -1px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 0;
  margin: 0;
  font-weight: 400;
}

h1 span {
  font-weight: 800;
}

h1:before,
h1:after {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 2px;
  position: absolute;
  content: "";
  display: block;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

h1:before {
  left: 0;
  top: 0;
}

h1:after {
  bottom: 0;
  right: 0;
}